
.game-board {
    position: relative;
	top: -500px;
	visibility: hidden;
}

.input-div {
	display: flex;
	visibility: hidden;
}

.ctrl-btn {
    width: 165px;
    height: 50px;
    background: cyan;
    margin: 20px;
    font-size: 18px;
    line-height: 40px;
}

.input-div-letter {
	background: pink;
	border: 1px solid black;
	width: 50px;
	height: 50px;
	display: inline-block;
	visibility: visible;
	font-size:40px;
	padding: 5px;
	text-align: center;
	line-height: 40px;
}

.input-div-blank {
	background: white;
	width: 50px;
	height: 50px;
	display: inline-block;
	visibility: visible;
}

.input-guess-div {
	display:flex;
	visibility: hidden;
	position: relative;
	top: 100px;
}

.letter-field {
	height: 25px;
	width: 25px;
	font-size: $msgFontSize;
	border: 2px solid green;
}

.phrase-field {
	height: 25px;
	width: 125px;
	font-size: $msgFontSize;
	border: 2px solid green;
}
.guess-div {
	display: inline-block;
}
