.message-div {
	border: 5px solid blue;
    position: relative;
	top:120px;
	height: 300px;
	line-height: 200px;
}
.error-msg {
	width: 100%;
	height: $msgBoxHeight;
	font-size:$msgFontSize;
	text-align:center;
}

.guess-msg {
	width: 100%;
	height: $msgBoxHeight;
	font-size:$msgFontSize;
    text-align: center;
}

.guess-letters {
	width: 100%;
	height: $msgBoxHeight;
	font-size:$msgFontSize;
    text-align: center;
}