.welcome-cont {
   visibility: visible;
}

.welcome-msg {
   position: relative;
   top: -500px;
   width: 100%;
   height: 800px;
   line-height: 200px;
   text-align: center;
   font-size: 40px;
   font-family: $fontType;
   border: 2px solid black;
   color: $fontColor;
   visibility: visible;
   background-image: url("Joey.jpg");
   background-size: 100% 100%;
   //background: rgba(255, 255, 255, 0.3);
   opacity: 0.4;
   filter: alpha(opacity=30);
}

.main-title {
   height: 500px;
   line-height: 100px;
   text-align: center;
   position: relative;
   top: 300px;
   font-weight: bold;
}

.main-div {
  height: 500px;
}

.wheel {
   opacity: 1.0;
   position: relative;
   top: -20px;
   font-size: $titleFontSize;
   font-weight: 1000;
   color: $welcomeColor;
}

.of-word {
  position: relative;
  top: 40px;
  font-size: $titleFontSize;
  font-weight: 1000;
  color: $welcomeColor;
}

.fortune {
  position: relative;
  top: 100px; 
  font-size: $titleFontSize;
  color: $welcomeColor;
}

.start-btn {
  color: black;
  text-align: center;
}